<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mkkang.mbti_with_music.mapper.MainMapper">
    <select id="allMusic" resultType="com.mkkang.mbti_with_music.domain.MusicInfo">
        SELECT * FROM music
    </select>

    <insert id="musicRecommendation" parameterType="com.mkkang.mbti_with_music.domain.UserMusic">
        INSERT INTO
        mbti_music_user(music_id, mbti_name)
        VALUES(
            #{music_id}, 
            #{mbti_name}
            )
    </insert>

    <select id="isMusicExist" resultType="int" parameterType="string">
        SELECT count(*) FROM music
        WHERE music_id = #{music_id}
    </select>
    
    <insert id="insertNewMusic" parameterType="com.mkkang.mbti_with_music.domain.UserMusic">
        INSERT into
        music(music_id, music_name, thumbnail)
        VALUES(
            #{music_id},
            #{music_name},
            #{thumbnail}
            )
    </insert>
    
    <insert id="insertMbtiResult" parameterType="com.mkkang.mbti_with_music.domain.UserMBTIResult">
        INSERT into
        mbti_result(mbti, EI, NS, TF, JP, time)
        VALUES(
            #{mbti},
            #{EI},
            #{NS},
            #{TF},
            #{JP},
            #{time}
            )
    </insert>

    <insert id="musicThumbsup" parameterType="com.mkkang.mbti_with_music.domain.UserMusic">
        INSERT INTO
        mbti_music_great(music_id, session_id, mbti_name)
        VALUES(
            #{music_id}, 
            #{session_id},
            #{mbti_name}
            )
    </insert>

    <select id="getMbtiMusic" resultType="com.mkkang.mbti_with_music.domain.MusicInfo" parameterType="string">
        SELECT m.music_id, m.music_name, m.album, m.artist, m.thumbnail, count(mmg.mbti_music_great_id) as great_count
        FROM music m, mbti_music_great mmg
        WHERE m.music_id = mmg.music_id
        AND mmg.mbti_name = #{mbti_name}
        GROUP BY m.music_id
    </select>

    <select id="getWeight" resultType="int" parameterType="string">
        SELECT mq.weight from mbti_question mq
        WHERE mq.question_set = #{question_set}
        ORDER BY mq.id;
    </select>

    <select id="getUnitTotal" resultType="int" parameterType="string">
        SELECT sum(mq.weight) from  mbti_question mq
        WHERE mq.question_set = #{question_set}
        GROUP BY mq.unit
        ORDER BY field(mq.unit, 'E', 'N', 'T', 'J');
    </select>

</mapper>